---
- name: Apply CIS hardening
  become: true
  when: >-
    (cluster_rke2_config.profile | default("") | regex_search('^cis(-\d+.\d+)?$')) or
    (group_rke2_config.profile | default("") | regex_search('^cis(-\d+.\d+)?$')) or
    (host_rke2_config.profile | default("") | regex_search('^cis(-\d+.\d+)?$'))
  block:
    - name: Create etcd group
      ansible.builtin.group:
        name: etcd
        state: present

    - name: Create etcd user
      ansible.builtin.user:
        name: etcd
        comment: "etcd service user"
        shell: /usr/sbin/nologin
        group: etcd
        create_home: false
        system: true

    - name: Copy CIS sysctl configuration (RPM install)
      ansible.builtin.copy:
        src: /usr/share/rke2/rke2-cis-sysctl.conf
        dest: /etc/sysctl.d/60-rke2-cis.conf
        remote_src: true
        mode: "0600"
        owner: root
        group: root
      register: sysctl_rpm
      when:
        - install_method == "rpm"
      notify:
        - Restart systemd-sysctl
        - "Restart {{ service_name }}"
        - Reboot the machine

    - name: Copy CIS sysctl configuration (tarball install)
      ansible.builtin.copy:
        src: "{{ rke2_tarball_install_dir }}/share/rke2/rke2-cis-sysctl.conf"
        dest: /etc/sysctl.d/60-rke2-cis.conf
        remote_src: true
        mode: "0600"
        owner: root
        group: root
      register: sysctl_tarball
      when:
        - install_method == "tarball"
      notify:
        - Restart systemd-sysctl
        - "Restart {{ service_name }}"
        - Reboot the machine

    - name: Set reboot flag if RKE2 is already running
      ansible.builtin.set_fact:
        rke2_reboot: true
      when:
        - sysctl_rpm.changed | default(false) or sysctl_tarball.changed | default(false)
        - rke2_running | default(false)
