---
- name: Configure NetworkManager for RKE2 CNI
  ansible.builtin.copy:
    content: |
      [keyfile]
      unmanaged-devices=interface-name:cali*;interface-name:flannel*
    dest: /etc/NetworkManager/conf.d/rke2-canal.conf
    mode: "0600"
    owner: root
    group: root
  when: ansible_facts.services["NetworkManager.service"] is defined
  notify:
    - Reload NetworkManager
    - "Restart {{ service_name }}"

- name: Disable nm-cloud-setup service
  ansible.builtin.systemd:
    name: nm-cloud-setup.service
    state: stopped
    enabled: false
  when: ansible_facts.services["nm-cloud-setup.service"] is defined
  notify:
    - Reload NetworkManager
    - "Restart {{ service_name }}"

- name: Disable nm-cloud-setup timer
  ansible.builtin.systemd:
    name: nm-cloud-setup.timer
    state: stopped
    enabled: false
  when: ansible_facts.services["nm-cloud-setup.service"] is defined
  notify:
    - Reload NetworkManager
    - "Restart {{ service_name }}"
