---
- name: Add RKE2 common repository
  ansible.builtin.yum_repository:
    name: "{{ rke2_common_yum_repo.name }}"
    description: "{{ rke2_common_yum_repo.description }}"
    baseurl: "{{ rke2_common_yum_repo.baseurl }}"
    gpgcheck: "{{ rke2_common_yum_repo.gpgcheck }}"
    gpgkey: "{{ rke2_common_yum_repo.gpgkey }}"
    enabled: "{{ rke2_common_yum_repo.enabled }}"

- name: Add RKE2 versioned repository
  ansible.builtin.yum_repository:
    name: "{{ rke2_versioned_yum_repo.name }}"
    description: "{{ rke2_versioned_yum_repo.description }}"
    baseurl: "{{ rke2_versioned_yum_repo.baseurl }}"
    gpgcheck: "{{ rke2_versioned_yum_repo.gpgcheck }}"
    gpgkey: "{{ rke2_versioned_yum_repo.gpgkey }}"
    enabled: "{{ rke2_versioned_yum_repo.enabled }}"

- name: Install RKE2 via DNF
  ansible.builtin.dnf:
    name: "{{ service_name }}{{ rke2_version_rpm }}"
    state: "{{ rke2_package_state }}"
    allow_downgrade: true
  register: dnf_result
  retries: 10
  until: dnf_result is succeeded
  delay: 30
  notify: "Restart {{ service_name }}"
