---
# =============================================================================
# CLI Utilities Configuration
# =============================================================================

- name: Add RKE2 binaries to PATH
  ansible.builtin.lineinfile:
    path: /root/.bashrc
    line: "export PATH=$PATH:{{ rke2_bin_path }}"
    insertafter: EOF
    create: true
    mode: "0600"

- name: Create symlink for crictl configuration
  ansible.builtin.file:
    src: "{{ rke2_data_dir }}/agent/etc/crictl.yaml"
    dest: /etc/crictl.yaml
    state: link
    force: true

- name: Create .kube directory
  ansible.builtin.file:
    path: /root/.kube
    state: directory
    mode: "0750"
    owner: root
    group: root

- name: Create symlink for kubectl configuration
  ansible.builtin.file:
    src: "{{ rke2_data_dir }}/server/cred/admin.kubeconfig"
    dest: /root/.kube/config
    state: link
    force: true
